@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-BkCd.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-BkCd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std Book';
    src: url('fonts/ITCFranklinGothicStd-Book.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-DemiIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-DemiIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-BkXCp.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-BkXCp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-DmCd.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-DmCd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-DmCp.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-DmCp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HELLO DENVER DISPLAY';
    src: url('fonts/HELLODENVERDISPLAYREGULAR-Regular.woff2') format('woff2'),
    url('fonts/HELLODENVERDISPLAYREGULAR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neon Tubes 2';
    src: url('fonts/NeonTubes2-Regular.woff2') format('woff2'),
    url('fonts/NeonTubes2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-MedIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-MedIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std Xc';
    src: url('fonts/ITCFranklinGothicStd-DmXCp.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-DmXCp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-BkCpIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-BkCpIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HELLO DENVER DISPLAY';
    src: url('fonts/HELLODENVERDISPLAYBOLD-Bold.woff2') format('woff2'),
    url('fonts/HELLODENVERDISPLAYBOLD-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-MdCd.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-MdCd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-BookIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-BookIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std Demi';
    src: url('fonts/ITCFranklinGothicStd-Demi.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-MdCdIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-MdCdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-Hvy.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-Hvy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-DmCdIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-DmCdIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-HvyIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-HvyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-BkCdIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-BkCdIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std Med';
    src: url('fonts/ITCFranklinGothicStd-Med.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-DmCpIt.woff2') format('woff2'),
    url('fonts/ITCFranklinGothicStd-DmCpIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Franklin Gothic Std';
    src: url('fonts/ITCFranklinGothicStd-BkCp.woff2') format('woff2'),
    url('ITCFranklinGothicStd-BkCp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



